click==6.6
Flask==0.11.1
gunicorn==19.6.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
requests==2.10.0
setuptools==20.10.1
six==1.10.0
webencodings==0.5
Werkzeug==0.11.10
mechanize==0.2.5